/* Top bar */
.topbar {
    background-color: #383838;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 6px 0;
}

.topbar-icons {
    font-size: 16px;
    color: #FEDA15;
    vertical-align: bottom;
    margin-right: 4px;
}

.text-white {
    color: #FFFFFF !important;
}

.text-green {
    color: #00FF00;
}

/* Main nav bar */
.custom-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    /* X Y blur color */
}

.custom-bg {
    color: #FFFFFF !important;
}

.main-navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

.offcanvas-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

.custom-nav-link,
.nav-link,
.main-nav-icons {
    color: #383838;
    transition: color 0.3s ease;
}

.custom-nav-link:hover,
.nav-link:hover,
.main-nav-icons:hover {
    color: #FEDA15 !important;
}

/* Carousel */
.carousel-item {
    position: relative;
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-caption h1,
.carousel-caption p {
    color: #fff;
}

.carousel-caption .btn {
    margin-top: 15px;
}

.custom-slide-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #383838 !important;
}

.custom-slide-text-para {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #383838 !important;
}

.carousel-arrow {
    font-size: 48px !important;
    color: rgba(56, 56, 56, 0.5);
    z-index: 10;
    transition: color 0.3s ease;
}

.carousel-control-prev:hover .carousel-arrow,
.carousel-control-next:hover .carousel-arrow {
    color: #383838;
}

.custom-btn {
    width: 160px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    background-color: #FEDA15;
    color: #383838;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #383838;
    color: #FEDA15;
}

/* Services */
.service-card {
    background-color: #fff;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 30px 20px;
    cursor: pointer;
}

.service-icon {
    font-size: 48px !important;
    color: #FEDA15;
    transition: color 0.4s ease;
    z-index: 2;
    position: relative;
}

.service-card h5 {
    font-family: "Raleway", sans-serif;
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #383838;
}

.service-card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: #383838;
}

.service-card::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEDA15;
    z-index: 1;
    transition: bottom 0.4s ease;
}

.service-card:hover::before {
    bottom: 0;
}

.service-card:hover .service-icon {
    color: #fff;
}

.service-card:hover h5,
.service-card:hover p {
    color: #383838;
    position: relative;
    z-index: 2;
}

a.text-decoration-none {
    color: inherit;
    display: block;
}

a.text-decoration-none:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    .service-card {
        margin-bottom: 20px;
    }
}

/* Category */
.featured-section {
    position: relative;
    padding-top: 40px;
}

.featured-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.featured-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.featured-icon {
    font-size: 36px !important;
    color: #f4c400;
    margin-right: 10px;
}

.featured-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #383838;
}

.scroll-btn {
    background: #E9E9EB;
    border: 1px solid #E9E9EB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.scroll-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-btn-icon {
    color: #383838 !important;
}

.scroll-btn:hover {
    background-color: #FEDA15;
}

.scroll-btn:hover .scroll-btn-icon {
    color: #ffffff !important;
}

.category-row {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
}

.category-row::-webkit-scrollbar {
    display: none;
}

.category-card {
    flex: 0 0 auto;
    width: 160px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.category-img {
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.category-card:hover .category-img {
    transform: scale(1.05);
}

.category-card:hover .category-title {
    color: #f4c400;
}

.category-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

.category-sub {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #383838;
}


@media (min-width: 0px) {
    .category-card {
        width: calc((100% - 1 * 16px) / 2);
    }
}

@media (min-width: 576px) {
    .category-card {
        width: calc((100% - 2 * 16px) / 3);
    }
}

@media (min-width: 992px) {
    .category-card {
        width: calc((100% - 5 * 16px) / 6);
        /* 6 cards with 16px gap */
    }
}

/* products */
.product-icon {
    font-size: 36px !important;
    color: #FEDA15;
    margin-right: 10px;
}

.popular-product-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #383838;
}

.product-card {
    border: 1px solid #E9E9EB;
    /* padding: 10px; */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    height: 100%;
}

.product-card:hover {
    /* transform: scale(1.03); */
    border: 1px solid #FEDA15;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    /* Set height as needed */
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #E9E9EB, #ffffff);
    z-index: 1;
}

.product-image-wrapper img {
    position: relative;
    z-index: 2;
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.product-image-wrapper a {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.product-image-wrapper a img {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    display: block;
    margin: 0 auto;
}

.product-card:hover a img {
    transform: scale(1.1);
}

.product-image-wrapper:hover a img {
    transform: scale(1.1);
}

.product-image:hover img {
    transform: scale(1.1);
}

.product-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
}

.product-title {
    text-align: center;
}

.product-title a {
    text-decoration: none;
    color: #383838;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
}

.product-title a:hover {
    color: #FEDA15;
}

.review-stars {
    color: #FFC30F;
    font-size: 0.9rem;
}

.custom-text-muted {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: rgba(56, 56, 56, 0.5);
}

.price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #383838;
}

.original-price {
    text-decoration: line-through;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(56, 56, 56, 0.5);
}

.custom-cart-btn {
    background-color: #FEDA15;
    color: #ffffff;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-cart-btn .material-symbols-outlined {
    color: #ffffff;
    font-size: 1.125rem;
}

.custom-cart-btn:hover {
    background-color: #EBCA14;
}

.custom-cart-btn:hover .custom-cart-text {
    color: #ffffff;
}

.add-cart-btn {
    width: 100%;
}

@media (min-width: 1200px) {
    .custom-xl-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Feature */
.custom-feature-icon {
    color: #FEDA15;
    font-size: 2.5rem !important;
}

.custom-feature-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: 383838;
}

.custom-feature-para {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #383838;
}

/* Footer */
.footer-logo {
    max-height: 120px;
    max-width: 300px;
}

.footer-text-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.footer-link:hover {
    color: #FEDA15;
}

.opening-hours li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: #FFFFFF;
    font-weight: 400;
}

.opening-hours .day {
    width: 90px;
    font-weight: 400;
    text-align: left;
}

.opening-hours .time {
    text-align: left;
    font-weight: 400;
    flex: 1;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-text-para {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
}

.custom-contact-icon {
    color: #FEDA15;
    font-size: 1.25rem !important;
    line-height: 1.5;
    flex-shrink: 0;
}

.social-icon {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 0 0.3125rem;
    border-radius: 50%;
    background-color: #FEDA15;
    color: #FFFFFF;
    transition: all 0.3s ease;
    font-size: 0.875rem;
}

.social-icon:hover {
    background-color: #FEDA15;
    color: #383838;
    transform: scale(1.1);
}

.custom-footer-heading {
    margin-bottom: 1.875rem;
}

.custom-footer-bottom {
    color: #FFFFFF;
    background-color: #292929;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-footer-bottom-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
}


/* Contact page */
/* breadcrumb */
.breadcrumb-section {
    background-color: #E9E9EB;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0px;
}

.breadcrumb a {
    color: #FEDA15;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #EBCA14;
}

.breadcrumb-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.breadcrumb-item.active {
    color: #383838;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    margin-top: 0.9375rem;
    color: #383838;
}