/* Top bar */
.topbar {
    background-color: #383838;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 6px 0;
}

.topbar-icons {
    font-size: 16px;
    color: #FEDA15;
    vertical-align: bottom;
    margin-right: 4px;
}

.text-white {
    color: #FFFFFF !important;
}

.text-green {
    color: #00FF00;
}

/* Main nav bar */
.custom-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    /* X Y blur color */
}

.custom-bg {
    color: #FFFFFF !important;
}

.main-navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

.offcanvas-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}

.custom-nav-link,
.nav-link,
.main-nav-icons {
    color: #383838;
    transition: color 0.3s ease;
}

.custom-nav-link:hover,
.nav-link:hover,
.main-nav-icons:hover {
    color: #FEDA15 !important;
}

/* Carousel */
.carousel-item {
    position: relative;
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-caption h1,
.carousel-caption p {
    color: #fff;
}

.carousel-caption .btn {
    margin-top: 15px;
}

.custom-slide-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #383838 !important;
}

.custom-slide-text-para {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #383838 !important;
}

.carousel-arrow {
    font-size: 48px !important;
    color: rgba(56, 56, 56, 0.5);
    z-index: 10;
    transition: color 0.3s ease;
}

.carousel-control-prev:hover .carousel-arrow,
.carousel-control-next:hover .carousel-arrow {
    color: #383838;
}

.custom-btn {
    width: 160px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    background-color: #FEDA15;
    color: #383838;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #383838;
    color: #FEDA15;
}

/* Services */
.service-card {
    background-color: #fff;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 30px 20px;
    cursor: pointer;
}

.service-icon {
    font-size: 48px !important;
    color: #FEDA15;
    transition: color 0.4s ease;
    z-index: 2;
    position: relative;
}

.service-card h5 {
    font-family: "Raleway", sans-serif;
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #383838;
}

.service-card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: #383838;
}

.service-card::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEDA15;
    z-index: 1;
    transition: bottom 0.4s ease;
}

.service-card:hover::before {
    bottom: 0;
}

.service-card:hover .service-icon {
    color: #fff;
}

.service-card:hover h5,
.service-card:hover p {
    color: #383838;
    position: relative;
    z-index: 2;
}

a.text-decoration-none {
    color: inherit;
    display: block;
}

a.text-decoration-none:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    .service-card {
        margin-bottom: 20px;
    }
}